@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .stacked {
        @apply rounded-t-none;
    }

    #messages::-webkit-scrollbar {
        @apply bg-base;
    }

    ::-webkit-scrollbar {
        @apply w-2;
        @apply bg-base;
        @apply rounded;
    }

    ::-webkit-scrollbar-thumb {
        @apply rounded;
        @apply bg-text;
    }

    img.emoji {
        height: 1em;
        width: 1em;
        margin: 0 0.05em 0 0.1em;
        vertical-align: -0.1em;
    }
}

@layer base {
    a {
        @apply bg-link;
        @apply hover:underline;
    }

    code {
        @apply text-text;
        @apply rounded-md;
        @apply bg-outline;
        @apply p-[3px];
    }
}
